* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --black: black;
  --white: white;
  --palm-leaf: #779341;
  --blueberry: #4285f4;
  --alice-blue: #e9f1ff;
  --philippine-gray: #8d8d8d;
}
body {
  font-family: "Poppins", serif;
  background-image: url(../images/bg.webp);
  background-size: cover;
  background-position: center;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
header {
  padding: 31px 0;
}
header a {
  font-size: 20px;
  font-weight: 600;
  color: var(--black);
}
.sign-in .container {
  display: flex;
  align-items: center;
  justify-content: end;
}
@media (max-width: 991px) {
  .sign-in .container {
    justify-content: center;
  }
  .sign-in .sign-in-container {
    width: 500px;
    margin: 0 15px;
  }
}
.sign-in .sign-in-container {
  width: 539px;
  padding: 44px;
  background-color: rgb(255 255 255 / 0.75);
  border-radius: 40px;
}
.sign-in .sign-in-container .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sign-in .heading .welcome-message {
  font-size: 19px;
  font-weight: 400;
}
.sign-in .heading .welcome-message span {
  font-weight: 600;
  color: var(--palm-leaf);
}
.sign-in .heading .no-have-account {
  font-size: 13px;
  font-weight: 400;
  color: var(--philippine-gray);
}
.sign-in .heading .no-have-account a {
  color: var(--palm-leaf);
}
.sign-in h1 {
  font-size: 45px;
  font-weight: 500;
  color: var(--black);
}
.sign-in .login-with {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 53px;
}
.sign-in .login-with img {
  width: 40px;
}
.sign-in .login-with .google {
  width: 290px;
  padding: 8px 25px;
  background-color: var(--alice-blue);
  border-radius: 9px;
}
.sign-in .login-with .google a {
  display: flex;
  align-items: center;
  color: var(--blueberry);
  font-size: 16px;
  font-weight: 400;
}
.sign-in .login-with .google a img {
  margin-right: 20px;
}
.sign-in .login-with .other-option {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 55px;
  background-color: var(--white);
  border-radius: 9px;
}
.sign-in form {
  margin-top: 40px;
}
.sign-in form label {
  display: block;
  margin-bottom: 13px;
  font-size: 16px;
  font-weight: 400;
}
.sign-in form input {
  display: block;
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  border: 1px solid rgb(0 0 0 / 0.1);
  border-radius: 9px;
}
.sign-in form a {
  display: block;
  margin: 10px 0 0 0;
  text-align: right;
  color: var(--blueberry);
}
.sign-in form .input-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  margin: 30px 0;
}
.sign-in form input[type="submit"] {
  background-color: var(--palm-leaf);
  width: 240px;
  color: var(--white);
  padding: 15px;
  float: right;
  margin-top: 40px;
}
@media (max-width: 991px) {
  .sign-in form .input-container {
    display: block;
  }
  .sign-in form input[type="submit"] {
    width: 100%;
  }
}
